    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            <li>
                {% render(controller('EcommerceBundle:Categories:menu')) %}
            </li>
        </ul>
    </div>
